*{
	font-family: 'Work Sans', sans-serif;
}
.bg {
	background: url(../img/bg-sw.jpg) no-repeat;
	background-size: cover;
	min-height: 100vh;
	min-width: 100vw;
}
.bg-black{
	background: black;
}
.logo{
	width: 10%;
	height: 10%;
}
.total {
	background-color: ;
	color: ;
}